/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
figwheel_server.log
/.cpcache/
node_modules/
resources/public/js/
resources/public/shimmers.html
.cljs_node_repl/
/out/
/bin/bb
