{:paths ["src"]
 :tasks
 {:requires ([babashka.fs :as fs]
             [bb.tasks :as t])
  clean
  {:task (do (println "Remove target directory")
             (fs/delete-tree "target"))}
  build
  {:depends [clean]
   :task (do (shell "npm install")
             (clojure "-Mdev -m figwheel.main -bo release"))}
  build-static-site
  {:task (t/build-static-site
          :build-dir "target/public/cljs-out/"
          :from "resources/public"
          :to "static-site")}
  rewrite-index
  {:task (t/rewrite-index :build-dir "target/public/cljs-out/"
                          :from "resources/public/index.html"
                          :to "static-site/index.html"
                          :base-href "https://dgtized.github.io/shimmers/")}
  ;; For routing to page handler after not using fragments
  ;; ln -sf index.html 404.html
  ;; TODO: consider fetching repo from .git/config?
  ;; TODO: add circle ci exclusion for gh-pages?
  github-publish
  {:task (t/github-publish :dir "static-site"
                           :repo "git@github.com:dgtized/shimmers.git")}
  publish
  {:depends [build
             build-static-site
             rewrite-index
             github-publish]}

  view
  {:task (shell "xdg-open static-site/index.html")}}}
