{:paths ["src"]
 :deps {io.github.dgtized/carrier
        {:git/url "https://github.com/dgtized/carrier.git"
         :git/sha "1c8c5e3c755f0197d5d8e94dbdb6d0e681cc749d"}}
 :tasks
 {:requires ([babashka.fs :as fs]
             [carrier.tasks :as t])
  clean
  {:task (t/clean "target" "static-site")}
  lint
  {:doc "Lint source and test with clj-kondo"
   :task (t/clj-kondo "src" "test")}
  prep
  {:task
   (do (clojure "-X:deps prep")
    (shell "npm ci"))}

  compile
  {:depends [clean prep]
   :task (clojure "-Mdev -m figwheel.main -bo release")}

  create-static-site
  {:task (t/build-static-site
          :from "resources/public"
          :to "static-site")}
  rewrite-index
  {:task (t/rewrite-index
          :from "resources/public"
          :to "static-site"
          :base-href "https://dgtized.github.io/shimmers/")}
  ;; For routing to page handler after not using fragments
  ;; ln -sf index.html 404.html
  build
  {:depends [compile create-static-site rewrite-index]}

  view
  {:task (shell "xdg-open static-site/index.html")}}}
