;; https://cjohansen.no/tools-deps-figwheel-main-devcards-emacs/ was very
;; helpful for dev setup
{:deps {org.clojure/clojurescript {:mvn/version "1.10.893"}
        ;; p5 is excluded so that the latest version can be provided through npm
        quil/quil {:mvn/version "3.1.0" :exclusions [cljsjs/p5]}

        ;; raw canvas API
        io.helins/canvas {:mvn/version "2.0.0-beta0"}

        ;; vectors math and such, kinda weird as it does much of what quil does
        thi.ng/geom {:mvn/version "1.0.0-RC4"}
        thi.ng/shadergraph {:mvn/version "0.3.0"}

        ;; probability distributions
        kixi/stats {:mvn/version "0.5.4"}

        ;; Helper libraries
        org.clojure/core.async {:mvn/version "1.4.627"}
        org.clojure/core.logic {:mvn/version "1.0.0"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        instaparse/instaparse {:mvn/version "1.4.10"}
        ;; Need both priority-maps to use in CLJC files
        org.clojure/data.priority-map {:mvn/version "1.1.0"} ;; CLJ
        tailrecursion/cljs-priority-map {:mvn/version "1.2.1"} ;; CLJS
        org.clojure/data.avl {:mvn/version "0.1.0"}
        huahaiy/nifty {:mvn/version "0.1.0"} ;; disjoint-set + priority-map
        aysylu/loom {:mvn/version "1.0.2"} ;; graph representation

        ;; clientside view rendering, routing, and HTML5 pushState support
        cljsjs/react {:mvn/version "17.0.2-0"}
        cljsjs/react-dom {:mvn/version "17.0.2-0"}
        reagent/reagent {:mvn/version "1.1.0"}
        metosin/reitit {:mvn/version "0.5.15"}

        ;; http client
        cljs-http/cljs-http {:mvn/version "0.1.46"}

        ;; This is not dev only because of production build
        com.bhauman/figwheel-main {:mvn/version "0.2.15"}

        ;; Better debug output
        binaryage/devtools {:mvn/version "1.0.4"}
        }
 ;; setup some development paths
 :paths ["src" "target" "resources"]
 ;; setup a helpful alias to start the build
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps {com.bhauman/cljs-test-display {:mvn/version "0.1.1"}}}

  :repl
  {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
   :main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}

  ;; clj -Mclj-kondo --lint src
  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.10.19"}}
   :main-opts ["-m" "clj-kondo.main"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                lambdaisland/kaocha {:mvn/version "1.60.945"}
                com.lambdaisland/kaocha-cljs {:mvn/version "1.0.113"}}}}}

;; fastmath is clojure only, but worth taking a look at for certain impls
;; https://github.com/generateme/fastmath
