;; https://cjohansen.no/tools-deps-figwheel-main-devcards-emacs/ was very
;; helpful for dev setup
{:deps {org.clojure/clojurescript {:mvn/version "1.10.866"}
        ;; p5 is excluded so that the latest version can be provided through npm
        quil/quil {:mvn/version "3.1.0" :exclusions [cljsjs/p5]}

        ;; vectors math and such, kinda weird as it does much of what quil does
        thi.ng/geom {:mvn/version "1.0.0-RC4"}

        ;; probability distributions
        kixi/stats {:mvn/version "0.5.4"}

        ;; Helper libraries
        org.clojure/core.async {:mvn/version "1.3.618"}
        org.clojure/core.logic {:mvn/version "1.0.0"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        tailrecursion/cljs-priority-map {:mvn/version "1.2.1"}
        huahaiy/nifty {:mvn/version "0.1.0"} ;; disjoint-set + priority-map

        ;; clientside view rendering, routing, and HTML5 pushState support
        cljsjs/react {:mvn/version "17.0.2-0"}
        cljsjs/react-dom {:mvn/version "17.0.2-0"}
        reagent/reagent {:mvn/version "1.1.0"}
        metosin/reitit {:mvn/version "0.5.13"}

        ;; http client
        cljs-http/cljs-http {:mvn/version "0.1.46"}

        ;; This is not dev only because of production build
        com.bhauman/figwheel-main {:mvn/version "0.2.13"}

        ;; Better debug output
        binaryage/devtools {:mvn/version "1.0.3"}
        }
 ;; setup some development paths
 :paths ["src" "target" "resources"]
 ;; setup a helpful alias to start the build
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps {com.bhauman/cljs-test-display {:mvn/version "0.1.1"}}}

  :repl
  {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
   :main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                lambdaisland/kaocha {:mvn/version "1.0.861"}
                com.lambdaisland/kaocha-cljs {:mvn/version "1.0.93"}}}}}
