^{:css-dirs ["resources/public/css"]
  :watch-dirs ["src" "test"]
  :extra-main-files {:tests {:main shimmers.test-runner}}

  :open-file-command "emacsclient"
  ;; Define handler to enable clientside SPA routing
  :ring-handler shimmers.ring-server/handler}
{:preloads [shimmers.dev]
 :main shimmers.core

 ;; used http://jmmk.github.io/javascript-externs-generator/ to create
 ;; resources/p5-externs.js with latest externs from p5.js version 1.3.1
 ;; Then override (:require cljsjs.p5) to in quil to use the version installed in node_modules.
 :externs ["p5-externs.js" "sparkles-externs.js"
           "delaunator-externs.js" "d3-delaunay-externs.js"]
 :foreign-libs [{:file "node_modules/p5/lib/p5.js"
                 :file-min "node_modules/p5/lib/p5.min.js"
                 :provides ["cljsjs.p5"]}
                {:file "node_modules/sparkles/src/sparkles.js"
                 :provides ["sparkles"]}
                {:file "node_modules/delaunator/delaunator.js"
                 :file-min "node_modules/delaunator/delaunator.min.js"
                 :module-type :amd
                 :provides ["delaunator"]}
                {:file "node_modules/d3-delaunay/dist/d3-delaunay.js"
                 :file-min "node_modules/d3-delaunay/dist/d3-delaunay.min.js"
                 :module-type :amd
                 :provides ["d3-delaunay"]}]
 :optimizations :none
 :infer-externs true

 ;; never got bundle to work but just overriding the extern above seemed sufficient
 ;; :clean-outputs true
 ;; :target :bundle
 ;; :bundle-cmd {:none ["npx" "webpack" "--mode=development" :output-to "-o" :final-output-to]
 ;;              :default ["npx" "webpack" :output-to "-o" :final-output-to]}
 ;; :closure-defines {cljs.core/*global* "window"}

 :closure-defines {cljs-test-display.core/notifications false
                   cljs-test-display.core/printing false}
 }
