^{:open-url "http://[[server-hostname]]:[[server-port]]/index.html"
  :post-build-hooks [shimmers.release/make-index]}
{:main shimmers.core

 :externs ["p5-externs.js"]
 :foreign-libs [{:file "node_modules/p5/lib/p5.js"
                 :file-min "node_modules/p5/lib/p5.min.js"
                 :provides ["cljsjs.p5"]}]

 :clean-outputs true
 :optimizations :advanced
 :source-map "target/public/cljs-out/release-main.js.map"
 }
