{:lint-as
 {shimmers.sketch/defquil clj-kondo.lint-as/def-catch-all
  shimmers.sketch/definition clj-kondo.lint-as/def-catch-all}

 :linters
 {:unresolved-symbol
  ;; c-for defines loop variables for a specific range
  {:exclude [(shimmers.macros.loop/c-for)
             (shimmers.common.ui.canvas-attributes/defattr)]}

  :unused-namespace
  {:exclude
   [shimmers.math.geometry.line ;; extend-type to Line2
    ]}}}
