.shimmer-container {
  /* https://stackoverflow.com/questions/7839164/is-there-a-css-cross-browser-value-for-width-moz-fit-content */
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

.controls {
  font-size: 18px;
  padding: 0.5em;
  background: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls button {
  font-size: 18px;
  margin-left: 1em;
}

.canvas {
  margin: 1em;
  padding: 1em;
  border: 1.5px dotted #eee;
}

#interface {
  padding-left: 2em;
}

#explanation {
  padding-left: 2em;
}

#debug-mount {
  padding-left: 2em;
}

.indent label {
  margin-left: 1em;
}

.slider {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.numeric {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type=number] {
  width: 5em;
}

input[type=checkbox] {
  height: 1em;
}

input[type=range] {
  height: 1em;
  width: 200px
}

.footer {
  font-size: 0.8em;
  padding-left: 1.5em;
  padding-top: 1em;
}

.sketch-list p {
  padding-left: 2em;
  width: 50em;
}

.sketch-list .selector {
  padding-left: 2em;
}

.sketch-list h1 {
  text-align: left;
  padding-left: 3em;
  margin-bottom: 0em;
}

.sketch-columns {
  display: flex;
}

.sketch-columns > .column {
  width: 50%;
  padding: 1em;
  padding-top: 0em;
}

.sketch-columns h3 {
  text-align: center;
}

h3.tag {
  padding-left: 1em;
}

h3.date {
  padding-left: 1em;
}

button.generate {
  font-size: 1.2em;
  height: 2.5em;
  width: 10em;
}

.center {
  text-align: center;
}

.readable-width {
  min-width: 25em;
  max-width: 40em;
}
