.sketch {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.controls {
  display: flex;
  padding: 0.3em;
  background: lightblue;
  flex-direction: row;
  justify-content: space-between;
}

.canvas {
  padding: 2em;
}

canvas {
  border: 1px dotted #eee;
  padding: 1em;
}

.footer {
  padding: 0.3em;
}
