name: Continuous Deployment

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache deps.edn dependencies
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: clj-${{ runner.os }}-${{ hashFiles('**/deps.edn') }}
          restore-keys: clj-${{ runner.os }}-

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@13.5.2
        with:
          cli: latest
          bb: latest

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm --version && npm ci

      - name: Lint
        run: bin/lint

      - name: Test CLJC
        run: bin/kaocha unit-cljc

      - name: Test CLJS
        run:
          - ${{ matrix.os == 'ubuntu-latest' && 'xvfb-run' || '' }} /usr/bin/google-chrome-stable --no-first-run &&
          ${{ matrix.os == 'ubuntu-latest' && 'xvfb-run' || '' }} bin/kaocha unit-cljs

      - name: Build
        run: bb build

      - name: Upload artifact
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'static-site'

  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Configure Pages
        uses: actions/configure-pages@v5

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
